<html>
<head>
    <meta charset="utf-8">
    <title>index</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://minglie.github.io/js/M_mock.js"></script>
</head>
<body>
<div id="root">
    hello
    <input v-model="message">
    <hr/>
    <div v-for="x in topicList">{{x}}</div>
    <hr/>
    <div @click="handleClick">{{number}}--{{ message }}</div>
</div>

<script>
    app.get("/t1",(req,res)=>res.send(232));


    new Vue({
        el: '#root',
        data: {
            message: M.get("/t1"),
            number:1233,
            topicList:[1,22,5],
        },
        methods:{
            handleClick:function () {
                this.message="worddd";
            }
        },
        beforeCreate(){
            console.log('实例刚刚被创建1');
        },
        created(){
            console.log('实例已经创建完成2');
        },
        beforeMount(){
            console.log('模板编译之前3');
        },
        mounted(){     /*请求数据，操作dom , 放在这个里面  mounted*/
            console.log('模板编译完成4');
        },
        beforeUpdate(){
            console.log('数据更新之前');
        },
        updated(){
            console.log('数据更新完毕');
        },
        beforeDestroy(){   /*页面销毁的时候要保存一些数据，就可以监听这个销毁的生命周期函数*/
            console.log('实例销毁之前');
        },
        destroyed(){
            console.log('实例销毁完成');
        }
    })
</script>
</body>
</html>